# Used by this library
-r requirements_setup.txt

# Testing
pytest          == 8.3.3
pytest-asyncio  == 0.24.0

# Ruff
ruff == 0.7.3

# Requests update
pur == 7.3.2

autotyping == 24.9.0

tzlocal == 5.2
